body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.banner-container{
    display: grid;
    background-color: #2D25A0;
    width: 100%;
    height: 770px;
    display: flex;
}
.banner-tittle{
    color: white;
    margin-left: 156px;
    margin-top: 207px;
    font-size: 64px;

}

.watch-button button{
    width: 168px;
    height:44px;
    background-color: #e02c6d;
    text-align: center;
    margin-left: 156px;
    transition: transform 1s;
}

.watch-button button:hover {
 
    transform: rotate(360deg);
  }

.watch-button button a{
    text-decoration: none;
    color: white;
}

.banner-img img{
    width: 50%;
    margin-top: 135px;
    margin-right: 140px;
    margin-left: 497px;
}

/* player details section */

.player-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 75%; */
    
}
.player{
    padding: 15px 15px 33px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 30px;
    margin-top: 70px;
    width: 330px;
    height: 474px;
    
}
.player-img{
    margin-bottom: 16px;
}
.player-img img{
    width: 300px;
    height: 256px;
}
.player-details{
    width: 300px;
   
}
.player-details h2{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
.player-details p{
    font-size: 16px;
    font-weight: 100;    
}

.second-banner{

}

.second-banner img{
    width: 100%;
    margin-top: 85%;
    background-position: center;
    background-size: cover;

}
.copa-video{
    display: flex;
    margin-top: 85%;
    padding-top: 8%;
    background-color: darkblue; 
}

.video-link{
    margin-left: 15%;
    height: 50%;
    width: 50%;
}
.exclusive-tittle{
    font-size: 64px;
    color: #e02c6d;
    margin-left: 45px;
}
/*  FAMOUS PLAYER*/
.famoustext{
    text-align: center;
    padding-bottom: 5%;
}

.famous-player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding-left: 6%;
    padding-right: 15%;
}

.player1{
    padding-bottom: 7%;
}
/* footer section */


footer{
    
    justify-content: center;
    grid-template-rows: repeat(1,1fr);
}

.logo img{
    
    margin-left: 25%;
}
.social-media-link{
    margin-top:0px ;
    margin-left: 45%;
}
.social-media-link a{
    text-decoration: none;
    list-style: none;
}


.social-media-link span {
    width: 170px;
    height: 32px;
    font-size: 40px;
}

footer p{
    text-align: center;
}


/* responsive */

@media only screen and (max-width: 688px) {
    .banner-container{
        flex-direction: column;
        
    }
    .banner-tittle{
        color: white;
        margin-left: 39px;
    margin-top: 100px;
    font-size: 36px;
    }

.watch-button button{
    margin-left: 43px;
    }
    .banner-img img{
        margin-left: 13%;
        width: 80%;
        margin-top: 94px;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }

    .copa-video{
        display: flex;
    margin-top: 426%;
    padding-top: 8%;
    }

    .exclusive-tittle{
        font-size: 20px;
    color: #e02c6d;
    margin-left: -180px;
    margin-top: 55%;
    }

    .famous-player{
        grid-template-columns: repeat(1, 1fr);
        padding-top: 4%;
    }

    .logo img{
        width: 50%;
        margin-left: 24%;
    }
    .social-media-link {
    
        margin-left: 26%;
    }

    .player1 p{
        margin-right: 16%;
    padding-left: 9%;
    }

    .player1 img{
        width: 100%;
    }
    .copa-video{
        margin-top: 1450%;
        padding-top: 10%;
    }
    .copa-video iframe{
        width:260px;
        height:215px;
    }
}